$blue50: #D0DCE1;
$blue500: #125169;
$blue700: #011F49;
$purple: #4C396F;
$gray50: #ECEFF4;
$gray100: #DEDFDF;
$gray200: #BDBFBF;
$gray300: #7A7F80;
$gray400: #595F60;
$gray600: #242626;
$gray700: #1E1E1E;

$white: #FFFFFF;
$black: #000000;

$primary: $blue700;
$primaryLight: $blue50;
$secondary: $purple;
$success: #10B981;
$warning: #F59E0B;
$danger: #DC2626;

