@import "../../../../assets/scss/variables";
:host {
  display: block;
}
.loader-container {
  height: 100vh;
  height: 100svh;
  width: 100vw;
  background-color: $white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}